<!doctype html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>Playing</title> 
    <link rel="stylesheet" type="text/css" href="/main.css">
    <!-- embedding the font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">

    <!-- javascript code for the answer submission -->
    <script>

      function checkAnswer(event) {
          event.preventDefault();
          let typedAnswer = document.getElementById('answerInput').value; // retrieve user answer
          
          // the server is checking the answer
          fetch('/checking-answer', {
              method: 'POST',
              headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
              body: new URLSearchParams({ answerInput: typedAnswer, correctAnswer: "<%= correctAnswer %>" })
          })
          .then(response => response.json()) // gets the correct JSON response
          .then(data => { // show popup message
              document.getElementById('popupMessage').style.display = 'flex';
              document.getElementById('popupText').innerText = data.message;
          });
      }

      // closing popup tab and redirecting back to home page
      function closePopup(){
          document.getElementById('popupMessage').style.display = 'none';
          window.location.href = '/';
      }

      // next button popup to redirect to the next question
      function nextPopup(){
          document.getElementById('popupMessage').style.display = 'none';
          window.location.href = '/play';
      }

  </script>

  </head>

  <body>

    <!-- nav -->
    <nav>
        <ul class="nav-list">
          <li><a href="/"><img src="../assets/paw-icon.png" alt="Paw Points Icon">1270</a></li> 
          <li><a href="wardrobe"><img src="../assets/wardrobe-icon.png" alt="Wardrobe Icon"></a></li> 
          <li><a href="play"><img src="../assets/game-icon.png" alt="Play Game Icon"></a></li> 
          <li><a href="sleep"><img src="../assets/bed-icon.png" alt="Sleeping on bed Icon"></a></li> 
          <li><a href="/"><img src="../assets/level-icon.png" alt="Level Icon">8</a></li>
        </ul>
    </nav>

    <div class="game-container">
        <div class="question-container">
          <%= question %>
        </div>
        <!-- <form method="POST" onsubmit="showPopup(event)"> action="answered" -->
          <form method="POST" action="/checking-answer" onsubmit="checkAnswer(event)"> <!-- action="answered" -->
            <input id="answerInput" type="number" name="answerInput" required>
            <input type="hidden" name="correctAnswer" value="<%= correctAnswer %>">
            <input type="submit" value="Check" class="button"/>
        </form>
    </div>

    <div id="popupMessage" class="popup">
      <div class="popup-message">
        <p id="popupText"></p>
        <p id="correctAnswerText"></p>
        <!-- <p>Answer was correct/incorrect!</p>
        <p>Answer: 4</p>
        <p>Rewards: 57</p> -->
        <button onclick="closePopup()"><img src="../assets/home-icon.png" alt="Home Icon"></button>
        <button onclick="nextPopup()"><img src="../assets/arrows-icon.png" alt="Next Icon"></button>
      </div>
    </div>    

    <footer>
      <div class="progress-container">
        <div class="progress-items">
          <div class="energy-bar">
            <div class="energy-filled" style="width: 80%;"></div>
          </div>
          <div class="progress-label">Energy Bar</div>
        </div>
        <div class="progress-items">
          <div class="happiness-bar">
            <div class="happiness-filled" style="width: 35%;"></div>
          </div>
          <div class="progress-label">Happiness Bar</div>
        </div>
      </div>
    </footer>
    
  </body>

</html>